[ColorScheme]
active_colors=#{{fg}}, #{{bg_alt}}, #{{br_black}}, #{{surface}}, #{{bg}}, #{{overlay}}, #{{fg}}, #{{br_white}}, #{{fg}}, #{{bg}}, #{{bg}}, #000000, #{{accent}}, #{{bg}}, #{{accent2}}, #{{accent3}}, #{{bg_alt}}, #{{fg}}, #{{bg}}, #{{fg}}, #80{{fg_dim}}
disabled_colors=#{{fg_dim}}, #{{bg_alt}}, #{{br_black}}, #{{surface}}, #{{bg}}, #{{overlay}}, #{{fg_dim}}, #{{fg_dim}}, #{{fg_dim}}, #{{bg}}, #{{bg}}, #000000, #{{surface}}, #{{fg_dim}}, #{{surface}}, #{{surface}}, #{{bg_alt}}, #{{fg_dim}}, #{{bg}}, #{{fg_dim}}, #80{{fg_dim}}
inactive_colors=#{{fg}}, #{{bg_alt}}, #{{br_black}}, #{{surface}}, #{{bg}}, #{{overlay}}, #{{fg}}, #{{br_white}}, #{{fg}}, #{{bg}}, #{{bg}}, #000000, #{{fg_faint}}, #{{bg}}, #{{accent2}}, #{{accent3}}, #{{bg_alt}}, #{{fg}}, #{{bg}}, #{{fg}}, #80{{fg_dim}}
